
BIOSserver/BIOSserver/.project
BIOSserver/BIOSserver/bin/.project
BIOSserver/.classpath
BIOSserver/.project
BIOSserver/.settings/org.eclipse.core.resources.prefs
BIOSserver/.settings/org.eclipse.jdt.core.prefs
BIOSserver/BIOSserver/.classpath
BIOSserver/target/classes/application.properties
BIOSserver/target/test-classes/com/bios/portal/YamunarestApplicationTests.class
BIOSserver/target/surefire-reports/TEST-com.bios.portal.YamunarestApplicationTests.xml
BIOSserver/target/surefire-reports/com.bios.portal.YamunarestApplicationTests.txt
BIOSserver/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
BIOSserver/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
BIOSserver/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
BIOSserver/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
BIOSserver/target/classes/META-INF/maven/com.bios.portal/Yamunarest/pom.xml
BIOSserver/target/classes/META-INF/maven/com.bios.portal/Yamunarest/pom.properties
BIOSserver/target/classes/META-INF/MANIFEST.MF
*.class
BIOSserver/BIOSserver/.settings/org.eclipse.wst.common.project.facet.core.xml
BIOSserver/BIOSserver/.settings/org.eclipse.jdt.core.prefs
BIOSserver/BIOSserver/.settings/org.eclipse.core.resources.prefs
