
BIOSserver/BIOSserver/.project
BIOSserver/BIOSserver/bin/.project
BIOSserver/.classpath
BIOSserver/.project
BIOSserver/.settings/org.eclipse.core.resources.prefs
BIOSserver/.settings/org.eclipse.jdt.core.prefs
BIOSserver/BIOSserver/.classpath
BIOSserver/target/classes/application.properties
BIOSserver/target/test-classes/com/bios/portal/YamunarestApplicationTests.class
BIOSserver/target/surefire-reports/TEST-com.bios.portal.YamunarestApplicationTests.xml
BIOSserver/target/surefire-reports/com.bios.portal.YamunarestApplicationTests.txt
BIOSserver/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
BIOSserver/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
BIOSserver/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
BIOSserver/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
BIOSserver/target/classes/META-INF/maven/com.bios.portal/Yamunarest/pom.xml
BIOSserver/target/classes/META-INF/maven/com.bios.portal/Yamunarest/pom.properties
BIOSserver/target/classes/META-INF/MANIFEST.MF
*.class
BIOSserver/BIOSserver/.settings/org.eclipse.wst.common.project.facet.core.xml
BIOSserver/BIOSserver/.settings/org.eclipse.jdt.core.prefs
BIOSserver/BIOSserver/.settings/org.eclipse.core.resources.prefs
BIOSserver/target/classes/static/styles.bfc02e0ad1d042508c4b.bundle.css
BIOSserver/target/classes/static/polyfills.bf95165a1d5098766b92.bundle.js
BIOSserver/target/maven-archiver/pom.properties
BIOSserver/target/Yamunarest-0.0.1-SNAPSHOT.jar.original
BIOSserver/target/classes/static/main.66697457b30800f8c886.bundle.js
BIOSserver/target/classes/static/index.html
BIOSserver/target/classes/static/inline.318b50c57b4eba3d437b.bundle.js
BIOSserver/target/classes/static/favicon.ico
BIOSserver/target/classes/static/assets/webfonts/VWTextWeb-Bold.woff
BIOSserver/target/classes/static/assets/webfonts/VWTextWeb-Bold.ttf
*.svg
*.eot
*.woff
*.ttf
BIOSserver/target/classes/static/assets/volksWagenLogo.png
BIOSserver/target/classes/static/assets/volksWagenLogo.jpg
BIOSserver/target/classes/static/assets/images/icons/username_ro.png
BIOSserver/target/classes/static/assets/images/icons/username.png
BIOSserver/target/classes/static/assets/images/icons/sign_out_ro.png
BIOSserver/target/classes/static/assets/images/icons/sign_out.png
BIOSserver/target/classes/static/assets/images/icons/plus.png
BIOSserver/target/classes/static/assets/images/icons/close.png
BIOSserver/target/classes/static/assets/images/icons/accordian_arrow_right.png
BIOSserver/target/classes/static/assets/images/icons/accordian_arrow_down.png
BIOSserver/target/classes/static/assets/fontcss/font.css
BIOSserver/target/classes/static/3rdpartylicenses.txt
