
<div class="row BIOSInquiryHdr">
  <div class="col-md-12">
    <span>New Inqueries</span>
  </div>
</div>
<div class="row inquiry_table">
  <div class="col-md-12">
      <div class="table-responsive">          
        <table class="table table-striped BIOStable">
          <tbody>
             <ng-container  *ngFor="let inquiryObj of inquiriesArray; let index = index">
            <tr>
              <td>{{index + 1}}</td>
              <td>{{inquiryObj.title}}</td>
              <td>{{inquiryObj.totalPrice}}</td>
            </tr>
            </ng-container>
          </tbody>
        </table>
        </div>
  </div>
</div>
