
<div class="row BIOSInquiryHdr">
  <div class="col-md-12">
    <span>New Inqueries</span>
  </div>
</div>
<div class="row inquiry_table">
  <div class="col-md-12">
      <div class="table-responsive">          
        <table class="table table-striped">
          <tbody>
              <ng-container  *ngFor="let inquiryObj of inquiriesArray">
            <tr>
              <td>1</td>
              <td>Anna</td>
              <td>Pitt</td>
            </tr>
            <tr>
              <td>1</td>
              <td>Anna</td>
              <td>Pitt</td>
            </tr>
            </ng-container>
          </tbody>
        </table>
        </div>
  </div>
</div>
