<div id="mySidenav" class="sidenav">
    <ul class="sideNav_button">
        <li>
            <img src="assets/volksWagenLogo.png" alt="" srcset="">
        </li>
        <li>
            <img src="assets/images/icons/img_nav_modelle.png"> </li>
        <li>
            <img src="assets/images/icons/img_nav_findbuy.png"> </li>
        <li>
            <img src="assets/images/icons/img_nav_svc.png"> </li>
        <li>
            <img src="assets/images/icons/img_nav_electro.png"> </li>
        <li>
            <img src="assets/images/icons/img_nav_mag.png"> </li>
        <li>
            <img src="assets/images/icons/img_nav_used.png"> </li>
        <li>
            <img src="assets/images/icons/img_nav_bsns.png"> </li>
    </ul>
</div>
