<div class="row body_container">
  <div class="col-md-12">
   <app-search></app-search>
    <div class="row">
      <div class="col-md-12">
        <hr/>
      </div>
    </div>
    <app-packages></app-packages>
    <div class="row amount_row">
      <div class="col-md-2 col-xs-3">
        <button type="button" class="btn btn-default">Save</button>
      </div>
      <div class="col-md-2 col-md-offset-7 col-xs-offset-3 col-xs-4">
        <span><b>Total amount</b></span>
      </div>
      <div class="col-md-1 col-xs-1">
        <span class="total_amount">&euro; {{totalAmount}}</span>
      </div>
    </div>
  </div>
</div>