.header_title {
    font-size: 20px;
}
.logo {
    width: 60px;
    height: 60px;
    margin-top: -28px;
    margin-left: 20px;
}

.header input {
    width: 251px;
}

.inquiries {
    color: blue;
}
.userDetail {
    font-size: 22px;
}
.userDetail:hover {
    text-decoration: underline;
}
.userDetail .fa.fa-user {
    padding-right: 5px;
}

@media only screen and (max-width: 500px) {
    .userDetail {
        font-size: 17px !important;
    }
}
.BIOSusr {margin-right: 15px;}
.BIOSusr, .BIOSlogOut {width: 60px;text-align: center;}
.BIOSusr a, .BIOSlogOut a { color: #fff; text-decoration: none;}
.BIOSusr a i, .BIOSlogOut a i  { font-size: 24px;}
.BIOSTopHdrWid {padding:25px 60px 72px 60px; width:100%; background-color:#0099dc;}
.BIOSTopHdrTxt {font-family: "VWHeadlineOTSemibold"; font-size:2.250em; color:#fff; text-transform:capitalize;}
.BIOSTopHdrRLog { text-align:right;}
