<div class="row header">
  <div class="col-md-2 col-xs-3">
    <img src="assets/volksWagenLogo.jpg" alt="logo" class="logo"/>
  </div>
  <div class="col-md-5 col-xs-9">
    <span class="header_title"><b>Booking & Inquiry Online Service</b></span>
  </div>
  <div class="input_search">
    <div class="col-md-3 col-xs-8">
      <input type="text" placeholder="Enter VIN to search inquiries"/>
    </div>
    <div class="col-md-2 col-xs-4">
        <button type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-search"></span> 
            <span class="inquiries">Inquiries</span>
        </button>
    </div>
  </div>
</div>