<div id="BIOSTopHdr row" class="BIOSTopHdrWid">
    <div class="BIOSTopHdrRLog col-md-2 pull-right" *ngIf="isUserLoggedIn()">
      <div class="pull-right BIOSlogOut "><a (click)="logout()"><img src="assets/images/icons/sign_out.png" alt="logout" srcset=""/>Logout</a></div>
        <div class="pull-right BIOSusr"><a><img src="assets/images/icons/username.png" alt="userName" srcset=""/><span>{{userDetailObj.userName}}</span></a></div>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
    <div class="BIOSTopHdrTxt paddingL0">Booking & Inquiry Online Service</div>
</div>