<div class="row vin_search ">
<form (ngSubmit)="serachByVinNumber(vinNumber);" #searchForm="ngForm">
  <div class="col-md-offset-3 col-xs-offset-0 col-md-12 col-xs-12">
      <span>VIN</span>
  </div>
  <div class="col-md-offset-3 col-xs-offset-0 col-md-4 col-xs-10">
      <input type="text" minlength="17" required maxlength="17" size="17" 
      name="vinNumber"  [formControl]="vinNumberValidation" [(ngModel)]="vinNumber"
      [class]="!vinNumberValidation.valid && searchForm.submitted ? 'errorMsgBox vin_input form-control' : 'vin_input form-control'"/>
      <div *ngIf="searchForm.submitted">
            <span *ngIf="vinNumberValidation.hasError('matchLength')" class="vin_input_text errorMsg">Die VIN muss 17-stellig sein</span>
            <span *ngIf="vinNumberValidation.hasError('invalidVInDigit')" class="vin_input_text errorMsg">Die letzten sechs Ziffern müssen nummerisch sein</span>
            <span *ngIf="vinNumberValidation.hasError('containsSpecialCharacter')" class="vin_input_text errorMsg">Die VIN besteht nur aus Buchstaben und Zahlen</span>
            <span *ngIf="vinNumberValidation.hasError('invalidVInLetters')" class="vin_input_text errorMsg">Invalid 1 to 6 characters</span>
          </div>
      <span class="vin_input_text">(VIN number should be 17 characters.)</span>
      <div class="clearfix"></div>
  </div>
  <div class="col-md-2 col-xs-12 BIOSLoginBtn paddingL0">
      <button [disabled]="!vinNumber" type="submit" class="btn btn-default search_button">Search</button>
  </div>
</form>
</div>