<div class="row vin_search ">
  <div class="col-md-offset-3 col-md-1 col-xs-2 col-xs-offset-0">
      <span>VIN</span>
  </div>
  <div class="col-md-3 col-xs-10">
      <input type="text" class="vin_input" [(ngModel)]="vinNumber"/><br/>
      <span class="vin_input_text">(VIN number should be 17 characters.)</span>
  </div>
  <div class="col-md-2 col-scol-xs-12">
      <button type="button" class="btn btn-default search_button" (click)="serachByVinNumber(vinNumber)">
          <span class="glyphicon glyphicon-search"></span> 
          <span class="inquiries">Search</span>
      </button>
  </div>
</div>