  <!--login section start here-->
  <div class="BIOSLoginSec">
    <div class="BIOSLoginSecHdr">login</div>
    <div class="BIOSLoginSecBox">
        <form id="loginForm" #loginForm="ngForm" (ngSubmit)="loginUser()">
            <div class="alert alert-danger" *ngIf="!loginFormObj.userName && !loginFormObj.password && errorObj && errorObj.hasError">
                {{errorObj.errorMsg}}
            </div>
            <!-- <div  class="errorMsg"></div> -->
            <div class="BIOSLoginUsrName"> <span class=" float-left">Username</span>
                <input #userName="ngModel" 
                [class]="loginForm.submitted && userName.errors && userName.errors.required ? 'errorMsgBox form-control float-left':'form-control float-left'" 
                [(ngModel)]="loginFormObj.userName" required name="userName" id="userName" aria-describedby="" type="Username" placeholder="Username">
                <!--error massage text place here-->
                <div class="errorMsg" *ngIf="loginForm.submitted && userName.errors && userName.errors.required" class="errorMsg">This field is required</div>
                <div class="clearfix"></div>
            </div>
            <div class="BIOSLoginPsw"> <span class=" float-left">Password</span>
                  <input type="{{loginFormObj.showPassword ? 'text' : 'password'}}" class="form-control float-left"  maxlength="42"
                  #loginPassword="ngModel" [class]="loginForm.submitted && loginPassword.errors && loginPassword.errors.required ? 'errorMsgBox form-control float-left':'form-control float-left'" 
                  [(ngModel)]="loginFormObj.password" required name="password" id="password" aria-describedby="" type="Password" placeholder="Password">
                  <span class="password_eye showpwd" (click)="loginFormObj.showPassword = !loginFormObj.showPassword"><i [class]="!loginFormObj.showPassword ? 'fa fa-eye':'fa fa-eye-slash'"></i></span>
                  <!--error massage text place here-->
                  <div class="errorMsg" *ngIf="loginForm.submitted && loginPassword.errors && loginPassword.errors.required" class="errorMsg">This field is required</div>
                  <div class="clearfix"></div>
            </div>
            <div class="BIOSLoginBtn"> <span class=" float-left">&nbsp;</span>
                <button type="submit" class="btn btn-default" title="Login" >Login</button>
                <div class="clearfix"></div>
            </div>
          </form>
    </div>
  </div>
  <!--login section end here--> 